 ul{
    display: flex;
    list-style-type: none;
    /* text-decoration: none; */
    text-align: center;
    padding-left: 45px;
    margin-top: 15px;
}
li{
    padding: 10px;
    /* border-radius: 15px; */
    /* background-color: darkslateblue; */
    font-style: italic;
}
a{
    color: white;
    padding: 20px;
    background-color:darkslateblue;
    border:inherit ;
    border-radius: 35px;
    text-decoration: none;
}
a:hover{
    color: darkslateblue;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    font-style: italic;
    font-family: "monotype corsiva";
}
nav{
    border: 1px solid gainsboro;
    border-radius: 40px;
    width: 430px;
    margin: auto;
    margin-top: 50px;
    
}
h3{
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
h4{
    text-align: center;
}
